# Backend API config
API_HOST=localhost
API_PORT=3000
API_BASE_URL=http://localhost:3000

# Frontend UI config
UI_HOST=localhost
UI_PORT=1234
UI_BASE_URL=http://localhost:1234

# Database config
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db_name


# Supabase
SUPABASE_URL=https://project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=secret_key
SUPABASE_ANON_KEY=secret_key
GOOGLE_CLIENT_ID=your_google_client_id

# Environment
ENV=development
